*{
    font-family: 'Oswald', sans-serif;  
}
.container{
    width: 100%;
    text-transform: uppercase;    
    color: #1b1b1b;
    height: fit-content;
    display: inline-table;
    padding: 3% 2% 0.5% 2%;
    label{   
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 3em;
        width: 30%; 
        display: block;
        
        &:nth-child(2n){
            color: #e60023;
            font-weight: 600;
        }
    }
}


